{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>{{ total_products }}</h3>
                    <p>Ürün</p>
                </div>
                <div class="icon">
                    <i class="fa fa-coffee"></i>
                </div>
                <a href="{{ path('product_index') }}" class="small-box-footer">
                    Ürün Listesi <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>{{ orders|length }}</h3>

                    <p>Sipariş</p>
                </div>
                <div class="icon">
                    <i class="fa fa-shopping-cart"></i>
                </div>
                <a href="#" class="small-box-footer">Tüm Siparişler <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>

    </div>

    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title"></h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            {% for role in app.user.roles %}
                {{ role }} <br>
            {% endfor %}
        </div>
        <!-- /.box-body -->
        <div class="box-footer clearfix">

        </div>
        <!-- /.box-footer -->
    </div>


{% endblock %}
