@import "~trumbowyg/dist/ui/trumbowyg.min.css";
@import "~cropper/dist/cropper.min.css";
@import "~sweetalert2/dist/sweetalert2.min.css";


img {
  max-width: 100%;
}

label.required:before {
  content: "* ";
  color:red;
}
