{% extends 'base.html.twig' %}


{% block title %}Yeni Koleksiyon Grubu Oluştur{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Yeni Koleksiyon Grubu Oluştur</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->

                {{ include('collection_group/_form.html.twig') }}

                <div class="box-footer">
                    <button class="btn btn-success">{{ button_label|default('Kaydet') }}</button>
                    <a class="btn btn-primary pull-right" href="{{ path('collection_group_index') }}">
                        Koleksiyon Grupları Listesi</a>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
