{% extends 'base-client.html.twig' %}

{% block title %}Our Products{% endblock %}



{% block body %}
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <style>


        .btn-huge {
            padding:30px;
            font-size: 24px;
            font-family: 'Ubuntu', sans-serif;
        }




    </style>


        <div class="box">
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-6">
                        <img src="{{ asset('build/img/our-products.png') }}" />
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6">


                        <a style="margin-top: 110px;" href="{{ path('our_collections') }}"
                                class="btn btn-huge bg-maroon btn-flat margin"
                             >OUR COLLECTIONS »</a>

                        <a href="{{ path('custom-products') }}"
                           style="margin-top: 10px;"
                           class="btn btn-huge bg-purple btn-flat margin"
                        >CUSTOM ENAMELWARE »</a>



                    </div>
                </div>


            </div>
        </div>









{% endblock %}
