{% extends 'base-client.html.twig' %}

{% block title %}Our Collections{% endblock %}

{% block breadcrumb %}

    <section class="content-header">
        <h1>
            OUR COLLECTIONS
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('our_products') }}"><i class="fa fa-home"></i> Home</a></li>
            <li class="active"><a href="{{ path('our_collections') }}">Our Collections</a></li>
        </ol>
    </section>

{% endblock %}

{% block body %}
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <style>
        .btn-huge {
            padding: 30px;
            font-size: 24px;
            font-family: 'Ubuntu', sans-serif;
        }
    </style>


    <div class="box">
        <div class="box-body">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">


                    {% for c in collections %}


                        {% set say ='' %}
                        {% for p in c.prodcollection %}
                            {% if loop.first %}
                                {% set say = p.picture %}
                            {% endif %}
                        {% endfor %}


                        <a href="{{ path('collection_list',{id:c.id}) }}">
                            <img class="img-responsive" style="border: 1px solid gray;margin-left: auto; margin-right: auto"
                                         src="{{ asset('uploads/collections/'~say) }}" /></a><br><br>

                    {% endfor %}

                </div>
            </div>


        </div>
    </div>









{% endblock %}
