<aside class="main-sidebar" style="display: none;">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">


        <!-- search form -->
        <!--
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
            <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
            </button>
          </span>
            </div>
        </form>
        -->
        <!-- /.search form -->

        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">

            <li class="header"></li>
            <li>
                <a href="{{ path('our_products') }}">
                    <i class="fa fa-home"></i> <span>Home</span>
                </a>
            </li>
            <li>
                <a href="{{ path('our_collections') }}">
                    <i class="fa fa-suitcase"></i> <span>Our Collections</span>
                </a>
            </li>
            <li>
                <a href="{{ path('custom-products') }}">
                    <i class="fa fa-coffee"></i> <span>Custom Enamelware</span>
                </a>
            </li>



        </ul>
    </section>
    <!-- /.sidebar -->
</aside>