<!-- Banner -->
<section id="banner">
    <div class="container">


        <div class="row">

            <div class="banner-search">

                {% if app.user %}
                    <h1>HOŞ GELDİN <a href="{{ path('app_dashboard') }}">{{ app.user.firstname }}</a></h1>
                {% else %}
                    <h1>HOŞ GELDİNİZ</h1>
                {% endif %}

                <p style="font-size: 14pt;padding-bottom: 10px;font-style: italic">
                    Edremit körfezindeki tüm işletmeleri, ilanları, etkinlik ve duyuruları tek noktada buluşturuyoruz...
                    {#Kayıt olmak için <a href="{{ path('app_register') }}" style="text-decoration: underline">tıklayınız</a>#}
                </p>



            </div>
        </div>


    </div>
    <div class="banner-icons">
        <ul>
            <li><a href="https://www.facebook.com/edremitkorfezportali/" target="_blank">
                    <i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="https://www.instagram.com/edremitkorfezicom/" target="_blank">
                    <i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            <li><a href="https://twitter.com/edremitkorfezi" target="_blank">
                    <i class="fa fa-twitter" aria-hidden="true"></i></a> </li>
            {#

            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a> </li>
            <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a> </li>
            <li><a href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i></a> </li>#}
        </ul>
    </div>
</section>
<!-- Banner -->