<!-- Best Things -->
<section id="best-things">
    <div class="container">

        <div class="row">
            <div class="col-md-12 heading">
                <h2>Best things with <span>FIND DO</span> in the City</h2>
            </div>
        </div>

        <div class="row">

            <div class="col-md-7 col-sm-7 col-xs-12">
                <div class="best-things-details">
                    <figure class="effect-ming"> <img src="http://127.0.0.1/edremitkorfezi.com/assets/img/front_end/best-thing-1.jpg" alt="image">
                        <figcaption>
                            <ul>
                                <li>
                                    <a data-toggle="modal" data-target="#myModal" href="#"><i class="fa fa-sign-in" aria-hidden="true"></i></a>
                                </li>
                            </ul>
                        </figcaption>
                    </figure>

                    <div class="best-things-rating">
                        <div class="best-things-address">
                            <h3><span><i class="fa fa-map-marker" aria-hidden="true"></i></span> United State</h3>
                            <ul class="best-things-listing">
                                <li><a href="#">15 Cities,</a>
                                </li>
                                <li><a href="#">130 listings,</a>
                                </li>
                                <li><a href="#">View 6753</a>
                                </li>
                            </ul>
                        </div>
                        <div class="best-things-stars">
                            <span>4.5 <img src="http://127.0.0.1/edremitkorfezi.com/assets/img/front_end/stars-2.png" alt="img"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-5 col-sm-5 col-xs-12">
                <div class="best-things-details">
                    <figure class="effect-ming"> <img src="http://127.0.0.1/edremitkorfezi.com/assets/img/front_end/best-thing-2.jpg" alt="image">
                        <figcaption>
                            <ul>
                                <li>
                                    <a data-toggle="modal" data-target="#myModal" href="#"><i class="fa fa-sign-in" aria-hidden="true"></i></a>
                                </li>
                            </ul>
                        </figcaption>
                    </figure>

                    <div class="best-things-rating">
                        <div class="best-things-address">
                            <h3><span><i class="fa fa-map-marker" aria-hidden="true"></i></span> China</h3>
                            <ul class="best-things-listing">
                                <li><a href="#">15 Cities,</a>
                                </li>
                                <li><a href="#">130 listings,</a>
                                </li>
                                <li><a href="#">View 6753</a>
                                </li>
                            </ul>
                        </div>
                        <div class="best-things-stars">
                            <span>4.5 <img src="http://127.0.0.1/edremitkorfezi.com/assets/img/front_end/stars-2.png" alt="img"></span>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="best-things-details">
                    <figure class="effect-ming"> <img src="http://127.0.0.1/edremitkorfezi.com/assets/img/front_end/best-thing-3.jpg" alt="image">
                        <figcaption>
                            <ul>
                                <li>
                                    <a data-toggle="modal" data-target="#myModal" href="#"><i class="fa fa-sign-in" aria-hidden="true"></i></a>
                                </li>
                            </ul>
                        </figcaption>
                    </figure>

                    <div class="best-things-rating">
                        <div class="best-things-address">
                            <h3><span><i class="fa fa-map-marker" aria-hidden="true"></i></span> Germany</h3>
                            <ul class="best-things-listing">
                                <li><a href="#">15 Cities,</a>
                                </li>
                                <li><a href="#">130 listings,</a>
                                </li>
                                <li><a href="#">View 6753</a>
                                </li>
                            </ul>
                        </div>
                        <div class="best-things-stars">
                            <span>4.5 <img src="http://127.0.0.1/edremitkorfezi.com/assets/img/front_end/stars-2.png" alt="img"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="best-things-details">
                    <figure class="effect-ming"> <img src="http://127.0.0.1/edremitkorfezi.com/assets/img/front_end/best-thing-4.jpg" alt="image">
                        <figcaption>
                            <ul>
                                <li>
                                    <a data-toggle="modal" data-target="#myModal" href="#"><i class="fa fa-sign-in" aria-hidden="true"></i></a>
                                </li>
                            </ul>
                        </figcaption>
                    </figure>

                    <div class="best-things-rating">
                        <div class="best-things-address">
                            <h3><span><i class="fa fa-map-marker" aria-hidden="true"></i></span> Australia</h3>
                            <ul class="best-things-listing">
                                <li><a href="#">15 Cities,</a>
                                </li>
                                <li><a href="#">130 listings,</a>
                                </li>
                                <li><a href="#">View 6753</a>
                                </li>
                            </ul>
                        </div>
                        <div class="best-things-stars">
                            <span>4.5 <img src="http://127.0.0.1/edremitkorfezi.com/assets/img/front_end/stars-2.png" alt="img"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="best-things-details">
                    <figure class="effect-ming"> <img src="http://127.0.0.1/edremitkorfezi.com/assets/img/front_end/best-thing-5.jpg" alt="image">
                        <figcaption>
                            <ul>
                                <li>
                                    <a data-toggle="modal" data-target="#myModal" href="#"><i class="fa fa-sign-in" aria-hidden="true"></i></a>
                                </li>
                            </ul>
                        </figcaption>
                    </figure>

                    <div class="best-things-rating">
                        <div class="best-things-address">
                            <h3><span><i class="fa fa-map-marker" aria-hidden="true"></i></span> France</h3>
                            <ul class="best-things-listing">
                                <li><a href="#">15 Cities,</a>
                                </li>
                                <li><a href="#">130 listings,</a>
                                </li>
                                <li><a href="#">View 6753</a>
                                </li>
                            </ul>
                        </div>
                        <div class="best-things-stars">
                            <span>4.5 <img src="http://127.0.0.1/edremitkorfezi.com/assets/img/front_end/stars-2.png" alt="img"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- Best Things -->