<!-- Call-to-action -->
<section id="call-to-action" class="parallax-window" data-parallax="scroll" data-image-src="http://127.0.0.1/edremitkorfezi.com/assets/img/front_end/call-to-action-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="call-to-action">
                    <h2>AMAZING find do directory html Template</h2>
                    <p>Find all things you need on Find Do. We give you a simple way.</p>
                    <div class="call-to-action-btn">
                        <a href="about.html">Read More</a>
                        <a href="#">Purchase</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Call-to-action -->