<!-- Counter Section -->
<div id="counter-section">
    <div class="container">

        <div class="row number-counters text-center">

            <div class="col-md-3 col-sm-6 col-xs-12">
                <!-- first count item -->
                <div class="counters-item">
                    <i class="fa fa-file" aria-hidden="true"></i>
                    <!-- Set Your Number here. i,e. data-to="56" -->
                    <strong data-to="520">0</strong>
                    <p>Listing</p>
                    <div class="border-inner"></div>
                </div>

            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <!-- first count item -->
                <div class="counters-item">
                    <i class="fa fa-users" aria-hidden="true"></i>
                    <!-- Set Your Number here. i,e. data-to="56" -->
                    <strong data-to="5620">0</strong>
                    <p>User</p>
                    <div class="border-inner"></div>
                </div>

            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <!-- first count item -->
                <div class="counters-item">
                    <i class="fa fa-th" aria-hidden="true"></i>
                    <!-- Set Your Number here. i,e. data-to="56" -->
                    <strong data-to="1520">0</strong>
                    <p>Categories</p>
                    <div class="border-inner"></div>
                </div>

            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <!-- first count item -->
                <div class="counters-item">
                    <i class="fa fa-th-list" aria-hidden="true"></i>
                    <!-- Set Your Number here. i,e. data-to="56" -->
                    <strong data-to="5020">0</strong>
                    <p>Listing Types</p>
                    <div class="border-inner"></div>
                </div>

            </div>

        </div>

    </div>
</div>
<!-- Counter Section -->