<!-- Directory Category -->
<section id="directory-category" class="p_b70 p_t70">
    <div class="container">
       
        <div class="row">
            <div class="col-md-12">
                <div class="directory-category-box text-center"> <span><i class="fa fa-glass" aria-hidden="true"></i></span>
                    <a href="#">
                        <h3>Yeme / İçme</h3>
                    </a>
                    <p>{{ eating_count }}</p>
                </div>
                <!--
                <div class="directory-category-box text-center"> <span><i class="fa fa-home" aria-hidden="true"></i></span>
                    <a href="real-estate.html">
                        <h3>Real Estate</h3>
                    </a>
                    <p>35,366</p>
                </div>
                <div class="directory-category-box text-center"> <span><i class="fa fa-futbol-o" aria-hidden="true"></i></span>
                    <a href="sport.html">
                        <h3>Sport</h3>
                    </a>
                    <p>2,546</p>
                </div>
                <div class="directory-category-box text-center"> <span><i class="fa fa-female" aria-hidden="true"></i></span>
                    <a href="beauty-spa.html">
                        <h3>Beauty & Spa</h3>
                    </a>
                    <p>1,546</p>
                </div>
                <div class="directory-category-box text-center"> <span><i class="fa fa-car" aria-hidden="true"></i></span>
                    <a href="vehicles.html">
                        <h3>Vehicles</h3>
                    </a>
                    <p>2, 34, 546</p>
                </div>
                <div class="directory-category-box text-center"> <span><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></span>
                    <a href="shoping.html">
                        <h3>Shoping</h3>
                    </a>
                    <p>2,546</p>
                </div>
                <div class="directory-category-box text-center"> <span><i class="fa fa-cogs" aria-hidden="true"></i></span>
                    <a href="industry.html">
                        <h3>Industry</h3>
                    </a>
                    <p>3,506</p>
                </div>
                <div class="directory-category-box text-center"> <span><i class="fa fa-heart" aria-hidden="true"></i></span>
                    <a href="dating.html">
                        <h3>Dating</h3>
                    </a>
                    <p>12,546</p>
                </div>
                <div class="directory-category-box text-center"> <span><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
                    <a href="job.html">
                        <h3>Jobs</h3>
                    </a>
                    <p>22,546</p>
                </div>
                <div class="directory-category-box text-center"> <span><i class="fa fa-globe" aria-hidden="true"></i></span>
                    <a href="job.html">
                        <h3>Other Services</h3>
                    </a>
                    <p>24,567</p>
                </div>

                -->
            </div>
        </div>
    </div>
</section>
<!-- Directory Category -->