<!-- Directory Category -->
<section id="directory-category" class="p_b30 p_t30">
    <div class="container">
       
        <div class="row">
            <div class="col-md-12">
                <div class="directory-category-box dating text-center"> <span><i class="fa fa-cutlery" aria-hidden="true"></i></span>
                    <a href="#">
                        <h3>{{ 'eat'|trans({}, 'business')}}</h3>
                    </a>
                    <p></p>
                </div>



              
            </div>
        </div>
    </div>
</section>
<!-- Directory Category -->