<!-- Footer -->
<footer id="footer">
    <div class="container">

        <div class="row">

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="footer-about">
                    <img src="http://127.0.0.1/edremitkorfezi.com/assets/img/front_end/logo.png" alt="image">
                    <p>Lorem ipsum dolor amet consectur adipiscing elit sed do eiusmod tempor incididunt. Lorem ipsum dolor amet consectur adipiscing, Lorem ipsum dolor amet consectur adipiscing elit sed do eiusmod tempor incididunt...</p>
                    <a href="about.html">Read More <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="footer-links">
                    <h3>Useful <span>Links</span></h3>
                    <ul>
                        <li><a href="index.html">Home</a>
                        </li>
                        <li><a href="listing-3.html">Browse Category</a>
                        </li>
                        <li><a href="index.html">Pages</a>
                        </li>
                        <li><a href="blog.html">Our Blog</a>
                        </li>
                        <li><a href="listing.html">Listing</a>
                        </li>
                        <li><a href="contact.html">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="footer-links">
                    <h3>Get in <span>Touch</span></h3>
                    <ul>
                        <li><a href="#"><span><i class="fa fa-phone" aria-hidden="true"></i></span> <span>+(10) 123 456 7896</span></a>
                        </li>
                        <li><a href="#"><span><i class="fa fa-envelope" aria-hidden="true"></i></span> <span>support@find_do.com</span></a>
                        </li>
                        <li><a href="#"><span><i class="fa fa-globe" aria-hidden="true"></i></span> <span>wwww.finddodirectory.com</span></a>
                        </li>
                        <li><a href="#"><span><i class="fa fa-map-marker" aria-hidden="true"></i></span> <span>Find Do, 06 Highley St, Victoria, Australia.</span></a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="footer-links">
                    <h3>Latest <span>News</span></h3>
                    <div class="footer-latest">
                        <a href="#"><img src="http://127.0.0.1/edremitkorfezi.com/assets/img/front_end/footer-latest-1.jpg" alt="image">
                        </a>
                        <a href="#"><img src="http://127.0.0.1/edremitkorfezi.com/assets/img/front_end/footer-latest-2.jpg" alt="image">
                        </a>
                        <a href="#"><img src="http://127.0.0.1/edremitkorfezi.com/assets/img/front_end/footer-latest-3.jpg" alt="image">
                        </a>
                        <a href="#"><img src="http://127.0.0.1/edremitkorfezi.com/assets/img/front_end/footer-latest-4.jpg" alt="image">
                        </a>
                        <a href="#"><img src="http://127.0.0.1/edremitkorfezi.com/assets/img/front_end/footer-latest-5.jpg" alt="image">
                        </a>
                        <a href="#"><img src="http://127.0.0.1/edremitkorfezi.com/assets/img/front_end/footer-latest-6.jpg" alt="image">
                        </a>
                        <a href="#"><img src="http://127.0.0.1/edremitkorfezi.com/assets/img/front_end/footer-latest-7.jpg" alt="image">
                        </a>
                        <a href="#"><img src="http://127.0.0.1/edremitkorfezi.com/assets/img/front_end/footer-latest-8.jpg" alt="image">
                        </a>
                        <a href="#"><img src="http://127.0.0.1/edremitkorfezi.com/assets/img/front_end/footer-latest-9.jpg" alt="image">
                        </a>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="footer-newsletter">
                    <span>Subscribe</span>
                    <h2>to our newsletter</h2>
                    <div class="sub-newsletter">
                        <input type="email" name="email" placeholder="Enter your email address....">
                        <button>Subscribe</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-center">
                <div class="footer-copyright">
                    <p>Copyright 2017 - Find Do Directory All Rights Reserved. Designed by <a href="https://themeforest.net/user/99_design">99_Design.</a>
                    </p>
                </div>
            </div>
        </div>

    </div>
</footer>
<!-- Footer -->