<!-- Latest News -->
<section id="latest-news">
    <div class="container">

        <div class="row">
            <div class="col-md-12 heading">
                <h2>Latest <span>News</span></h2>
            </div>
        </div>

        <div class="row">

            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="latest-news-1">
                  <span class="latest-date">
                  Sep<br>23
              </span>
                    <img src="http://127.0.0.1/edremitkorfezi.com/assets/img/front_end/latest-news-1.jpg" alt="image">
                    <div class="latest-details">
                        <h3><a href="blog-detail.html">Need for growth and reliabilty</a></h3>
                        <ul>
                            <li><a href="#">by admin</a>
                            </li>
                            <li><a href="#"><i class="fa fa-comment" aria-hidden="true"></i> 73</a>
                            </li>
                            <li><a href="#"><i class="fa fa-heart" aria-hidden="true"></i> 750</a>
                            </li>
                            <li><a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-12 col-xs-12">

                <div class="latest-news-2 clearfix">
                    <div class="latest-news-2-img">
                      <span class="latest-date">
                  Sep<br>23
              </span>
                        <img src="http://127.0.0.1/edremitkorfezi.com/assets/img/front_end/latest-news-2.jpg" alt="image">
                    </div>
                    <div class="latest-news-2-details">
                        <h3><a href="blog-detail.html">Need for growth and reliabilty</a></h3>
                        <p>No sea takimata sanctus est lorem ipsklum dolor sit amet ipsum dolor sit amet.</p>
                        <ul>
                            <li><a href="#">by admin</a>
                            </li>
                            <li><a href="#"><i class="fa fa-comment" aria-hidden="true"></i> 73</a>
                            </li>
                            <li><a href="#"><i class="fa fa-heart" aria-hidden="true"></i> 750</a>
                            </li>
                            <li><a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="latest-news-2 m_t20 clearfix">
                    <div class="latest-news-2-img">
                      <span class="latest-date">
                  Sep<br>23
              </span>
                        <img src="http://127.0.0.1/edremitkorfezi.com/assets/img/front_end/latest-news-3.jpg" alt="image">
                    </div>
                    <div class="latest-news-2-details">
                        <h3><a href="blog-detail.html">Need for growth and reliabilty</a></h3>
                        <p>No sea takimata sanctus est lorem ipsklum dolor sit amet ipsum dolor sit amet.</p>
                        <ul>
                            <li><a href="#">by admin</a>
                            </li>
                            <li><a href="#"><i class="fa fa-comment" aria-hidden="true"></i> 73</a>
                            </li>
                            <li><a href="#"><i class="fa fa-heart" aria-hidden="true"></i> 750</a>
                            </li>
                            <li><a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>

        </div>

    </div>
</section>
<!-- Latest News -->