<!-- Popups -->
<section id="best-thing-model">
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">United State</h4>
                    <ul class="best-things-listing">
                        <li><a href="#">15 Cities,</a>
                        </li>
                        <li><a href="#">130 listings,</a>
                        </li>
                        <li><a href="#">View 6753</a>
                        </li>
                    </ul>
                    <img src="http://127.0.0.1/edremitkorfezi.com/assets/img/front_end/stars-2.png" alt="image">
                </div>
                <div class="modal-body">

                    <div id="best-thing-slider" class="owl-carousel owl-theme">
                        <div class="item">
                            <img src="http://127.0.0.1/edremitkorfezi.com/assets/img/front_end/best-thing-slider-1.jpg" alt="image">
                        </div>
                        <div class="item">
                            <img src="http://127.0.0.1/edremitkorfezi.com/assets/img/front_end/best-thing-slider-1.jpg" alt="image">
                        </div>
                        <div class="item">
                            <img src="http://127.0.0.1/edremitkorfezi.com/assets/img/front_end/best-thing-slider-1.jpg" alt="image">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="best-thing-model-description">
                                <h4>Description</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a pretium ipsum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vitae tellus in nisl aliquam cursus. Etiam condimentum purus urna, quis fermentum felis finibus quis. Integer magna quam, accumsan ac purus at, ultricies sagittis metus. Nulla tincidunt commodo egestas Morbi in molestie dui, Aenean feugiat odio eu venenatis sollicitudin...! </p>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="best-thing-model-feature">
                                <h4>Features</h4>
                                <ul>
                                    <li>Resturent (152,546)</li>
                                    <li>Real Estate (35,366)</li>
                                    <li>Sport (2,546)</li>
                                    <li>Beauty & Spa (1,546)</li>
                                    <li>Vehicles (2, 34, 546)</li>
                                    <li>Shoping (2,546)</li>
                                    <li>Industry (3,506)</li>
                                    <li>Dating (12,546)</li>
                                    <li>Jobs (22,546)</li>
                                    <li>Other Services (24,567)</li>
                                </ul>
                            </div>
                        </div>

                    </div>

                    <div class="best-thing-model-description">
                        <h4>Last Review</h4>
                        <img src="http://127.0.0.1/edremitkorfezi.com/assets/img/front_end/stars-2.png" alt="image">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a pretium ipsum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vitae tellus in nisl aliquam cursus. Etiam condimentum purus urna, quis fermentum felis finibus quis. Integer magna quam, accumsan ac purus at, ultricies sagittis metus. Nulla tincidunt commodo egestas Morbi in molestie dui, Aenean feugiat odio eu venenatis sollicitudin...! </p>

                        <div class="best-thing-model-btn">
                            <a href="listing-details.html">More Details</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Popups -->